
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <h1>Productos de Aseo</h1>
            <p>Encuentra los mejores productos de aseo para tu hogar. Desde detergentes hasta productos de limpieza, tenemos todo lo que necesitas para mantener tu casa impecable.</p>
        </div>
        
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->