
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <h1>Bebidas</h1>
            <p>Encuentra las mejores bebidas para satisfacer tu sed. Desde refrescos hasta jugos naturales, tenemos todo lo que necesitas para disfrutar en cualquier momento.</p>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->