
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


<main id="site-main">
        <h1 class="mb-3">Marcas</h1>
        <p class="mb-4">
            Tus marcas favoritas.
        </p>
    <div class="container mt-4">

    <div class="container-cards">
        <div class="card" style="width: 18rem;">
            <img src="/img/arroz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arroz</h5>
                <p class="card-text">Arroz de alta calidad, perfecto para tu familia.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">2300$ Libra</li>
                <li class="list-group-item">Disponible</li>
                <li class="list-group-item">Cantidad en Stock: 50</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Ver Detalles</a>
                <a href="#" class="card-link">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    </div>
</main>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
