
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


<main id="site-main">
    <div class="container mt-4">
        <h1 class="mb-3">Marcas</h1>
        <p class="mb-4">
            Descubre las mejores marcas de productos de aseo para tu hogar.
        </p>
        <!-- GRID -->
        <div class="brands-grid">
            <% brands.forEach(b => { %>
                <div class="card brand-card">
                    <!-- Puedes luego poner logo -->
                    <img src="/img/default-brand.png" class="card-img-top" alt="marca">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= b.nombre %></h5>
                        <a href="/brand/<%= b._id %>" class="btn btn-outline-primary w-100 mt-2">
                            Ver productos
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
