
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <h1>Marcas</h1>
        </div>
        <p>Descubre las mejores marcas de productos de aseo para tu hogar. Desde detergentes hasta productos de limpieza, tenemos todo lo que necesitas para mantener tu casa impecable.</p>
    </main>
    <!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->