
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <h1>Productos de Medicina</h1>
            <p>Encuentra los mejores productos de medicina para tu salud. Desde medicamentos hasta productos de cuidado personal, tenemos todo lo que necesitas para mantenerte bien.</p>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->