
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <h1>Productos de Papelería</h1>
            <p>Encuentra los mejores productos de papelería para tu hogar. Desde cuadernos hasta útiles escolares, tenemos todo lo que necesitas para mantenerte organizado.</p>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->